.jumbotron {
    padding-top: 10rem;
    background-color: #7888ff ;
}

#project{
    padding-top: 10rem;
    background-color: #7888ff ;
}


#social{
    padding-top: 10rem;
    background-color: #7888ff ;
}

#footer{
    padding-top: 10rem;
    background-color: #7888ff ;
}